.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #A1A1A150;
  .nav {
    display: flex;
    justify-content: flex-end;
    padding: 40px 0;

    &__link {
      position: relative;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: white;
      margin-right: 40px;
      &__last-child {
        margin-right: 0;
      }
      &:hover {
        &:before {
          position: absolute;
          content: "";
          width: calc(100% + 40px);
          background: white;
          height: 2px;
          bottom: -40px;
          left: -20px;
        }
      }
    }
  }

}